@tailwind base;
@tailwind components;
@tailwind utilities; 

/* body{
    background-color: rgb(242, 242, 242);
} */

.text-custom-red {
    color: #F66F6F;
  }
  
  .text-custom-light-blue {
    color: #D1E1DC;
  }
  
  .text-custom-blue {
    color: #5076C6;
  }
  
  .text-custom-white {
    color: #FFFFFF;
  }