__pycache__
!/log/.keep
.DS_Store
.env
.node_repl_history
.npm
.pytest_cache
.results.json
.venv
.vscode
*.db
*.log
*.pid
*.seed
*/*.db
/.bundle
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/tmp
build/Release
instance
jspm_packages
lib-cov
logs
node_modules
npm-debug.log*
pids